$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-alex: "Alexandria", cursive;
$font-brand: "Dancing Script", cursive;
$color-primary: #383c54;
$color-second: #00A5C4;
$color-yellow: #FFD289;
